# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Virtual environments
chess_venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# IDE
.vscode/

# Logs
*.log

# Database
*.db

#  json files 
src/notebooks/move_to_number.json
src/notebooks/number_to_move.json